@import url(//fonts.googleapis.com/css?family=Oswald:400);
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #e9efec;
  background-image: url("https://wallpaperaccess.com/full/195203.jpg");
  font-family: "Oswald", "Helvetica Newe", Helvetica, sans-serif;
}
.org{
  border-radius: 500px;
  height: 1000px;
  width: 1000px;
  padding: 500px;
}

image{
  height: 500px;
  width: 500px ;

}

.org path {
  cursor: pointer;
}
